

@media only screen and (max-width: 1500px) {

}
@media only screen and (max-width: 1280px) {

#hamburger {
    width: 24px;
    height: 18px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
#hamburger span:first-child {
    top: 0;
    transform-origin: left center;
}
#hamburger span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
}
#hamburger span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#hamburger.open span:first-child {
    transform: rotate(45deg);
    top: 0;
    left: 4px;
}
#hamburger.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}
#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 17px;
    left: 4px;
}
.header-navgroup{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    &.vis{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        padding: 36px 20px;
        gap: 40px;
        z-index: 10000;
        opacity: 1;
        visibility: visible;
        align-items: flex-start;
        overflow-y: scroll;
    }
}
.header-menu__btn {
    display: block;
    z-index: 200;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 7px;
    top: 20px;
    position: absolute;
}
.header, .header.fixed{
    height: 100px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    .container{
        padding: 0;
    }
}
.header.fixed{
    .header-navgroup.vis{
        //height: calc(100vh + 800px);
        .header__tel, .soclist{
            display: inline-flex;

        }
    }
}
.header-menu {
    padding: 0;
    height: 100px;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    
}
.container{
    width: 100%;
    padding: 0 20px;
}
.logo_min{
    display: block;
}
.header-nav__link, .header-nav__link:hover, .header-nav__link:focus, .header-nav__link:visited, .header-nav__link:active {
    color: #000;
}
.header-logo{
    display: none;
}
.header-nav{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.header-nav_right {
    justify-content: flex-start;
    display: flex;
}
.header-nav {
    gap: 40px;
}
.header .soclist {
    position: static;
}
.header .soclist__soc {
    border: 1px solid #4A5644;
    &:hover{
        border: 1px solid #4A5644;
        .soclist__socpic{
            fill: #4A5644;
        }
    }
}
.header .soclist__socpic {
    fill: #4A5644;
    &:hover{
        fill: #4A5644;
    }
}
.header__tel {
    position: static;
    color: #4A5644;
    margin-top: 56px;
    &:hover, &:focus, &:visited, &:active{
        position: static;
        color: #4A5644;
    }
}
.title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    max-width: 80%;
}
body {
    font-size: 14px;
    line-height: 20px;
}
.intro__sub {
    max-width: 80%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 68px;
}
.btn{
    height: 52px;
    font-size: 14px; 
}
.welcome {
    padding: 56px 0;
    flex-direction: column;
}
.welcome__desc{
    order: 1;
    text-align: center;
}
.welcome__pic{
    order: 2;
}
.welcome__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    text-align: center;
}
.welcome__descr {
    margin-bottom: 46px;
    text-align: center;
}
.welcome__pic-bg {
    position: absolute;
    display: block;
    top: -10px;
    right: 7px;
    width: 600px;
    max-width: 100%;
}
.welcome__pic {
    flex: 0 0 auto;
}
.why {
    background: url(../img/why_bg.svg) no-repeat right 114px;
    background-size: 100px 100px;
    padding-bottom: 60px;
    padding-top: 56px;
}
.title_h2 {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 28px;
    max-width: 90%;
}
.why__item {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    margin-bottom: 22px;
    flex-direction: column;
    align-items: flex-start;
}
.why__item-num {
    font-size: 60px;
    line-height: 70px;
}
.why__item_even {
    margin-left: 0;
}
.adv {
    padding-top: 64px;
}
.adv .container {
    gap: 40px;
}
.adv__pic {
    min-width: 300px;
    margin-right: -20px;
}
.article.dir {
    padding-top: 56px;
    .title.title_h2{
        width: 100%;
        text-align: center;
    }
}
.dir__wrap{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.dir__item{

}
.dir__item .dir__pic-bg {
    left: -30px !important;
    top: -30px !important;
}
.how__pic {
    min-height: 300px;
    min-width: 361px;
}

.how, .about, .review, .start, .team, .faq, .form__wrap, .var{
    padding: 56px 0;
}
.desc{
    padding-top: 56px;
}
.about__wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
}
.about__title {
    font-size: 24px;
    line-height: 30px;
}
.about__desc {
    font-size: 14px;
    line-height: 22px;
}
.slider-wrap {
    padding: 0 0 6px;
}
.review-nav_prev, .review-nav_next {
    bottom: 0;
    top: auto;
}
.review-nav_prev{
    left: 0;
    right: auto;
}
.start{
    .title.title_h3{
        font-size: 22px;
        line-height: 30px;
    }
    .title.title_h4{
        font-size: 14px;
        line-height: 18px;
    }
}
.start__wrap{
    flex-direction: column;
    gap: 40px;

}
.start__pic{
    min-height: 700px;
    order: 2;
    background-position: center top;
    margin: 20px auto 0;
    width: 364px;
    min-width: 300px;
}
.team__line{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.team__line_odd .team__item:nth-child(2) {
    transform: none;
}
.team__item-img-bg {
    left: -16px !important;
    top: 2px !important;
}
.team .title {
    margin-bottom: 60px;
}

.accordion {
    padding: 80px 10px 20px;
}
.accordion::before {
    width: 28px;
    height: 2px;
    top: 36px;
    right: auto;
    left: 25px;
}
.accordion::after {
    height: 28px;
    width: 2px;
    top: 23px;
    right: auto;
    left: 38px;
}
.accordion{
    font-size: 16px;
}
.panel.active {
    padding: 0 24px 10px;
}
.form__pic {
    min-width: 360px;
    min-height: 300px;
    order: 2;
    margin: 0 -20px;
}
.form .container {
    gap: 36px;
}
.form__wrap .title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 auto 20px;
    text-align: center;
}
.form__wrap p {
    font-size: 20px; 
    text-align: center;
}
.form__wrap .btn {
    margin: 22px auto 48px;
}
.form__wrap{
    align-items: center;
}
.footer {
    padding: 56px 0 36px;
}
.footer .container.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-logo{
    order: 1;
    margin-bottom: 20px;
}
.footer-nav{
    order: 2;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 30px;
}
.footer-nav.footer-nav_right{
    order: 2;
    margin-bottom: 20px;
}
.footer .container {
    gap: 50px;
}
.panel ol {
    padding-left: 16px;
}
.tab {
    padding-top: 60px;
}
.welcome_inner{
    .welcome__descr {
        margin-bottom: 0;
        text-align: left;
    }
}
.note__text{
    width: 100%;
}
.var__item{
    flex-direction: column;
    gap: 16px;
    margin-bottom: 68px;
}
.note__text {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
}
.var__name {
    padding-bottom: 12px;
    border-bottom: 1px solid #000;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
}
.var__price {
    font-size: 20px;
    line-height: 26px;
}
.var__desc {
    width: 510px;
    order: 1;
}
.var__pic{
    order: 1;
}
.form__wrap .title{
    max-width: 100%;
}
.welcome {
    gap: 40px;
}
.info, .port{
    padding: 38px 0 0;
}
.info__item-date {
    font-size: 14px;
    line-height: 22px;
    padding: 16px;
}
.port__item-name {
    font-size: 14px;
    line-height: 18px;
    padding: 16px;
}
.faq_price .accordion {
    font-size: 20px;
}
.accordion::before {
    width: 28px;
    height: 2px;
    top: 36px;
    right: auto;
    left: 12px;
}
.accordion::after {
    height: 28px;
    width: 2px;
    top: 23px;
    right: auto;
    left: 25px;
}
.info__item-picwrap {
    height: 180px;
}
.lang__item{
    color: #000 !important;
    
}
.lang{
    left: auto;
    right: 100px;
    z-index: 10000;
    color: #000 !important;
    top: 40px;
}
.header.fixed .lang {
    display: block;
    visibility: visible;
}




}




@media only screen and (max-width: 768px) {
.adv .container {
    flex-direction: column;
    align-items: stretch;
}
.adv__pic {
    min-height: 300px;
    margin-top: 0;
    margin-left: -20px;
    
}
.how__desc{
    order: 1;
}
.how__wrap{
    flex-direction: column;
    gap: 0;
    align-items: stretch;
}
.how__pic{
    min-height: 500px;
    order: 2;
    background-position: center top;
    margin: 20px -20px 0;
}
.how__desc {
    padding-left: 27px;
}
.how__desc li {
    margin-bottom: 35px;
}
.form .container{
    flex-direction: column;
}
.tab{
    flex-direction: column;
    gap: 20px;
}
.form .container {
    gap: 0;
}
.info__item {
    width: calc(50% - 10px);
    cursor: pointer;
    display: block;
}
.info__item-date {
    font-size: 10px;
    line-height: 22px;
    padding: 10px;
}
.port {
    gap: 10px;
}
.port__item {
    width: calc(50% - 5px);
}
.intro {
    background: url(../img/intro.jpg) no-repeat 90% 100px;
}
.modal {
    width: 90%;
}
.slider-nav {
    top: auto;
    bottom: 10px;
    height: 40px;
}

}



@media only screen and (max-width: 600px) {
.var__desc, .var__pic{
    width: 100%;
}
}

@media only screen and (max-width: 480px) {
.intro {
    background: url(../img/intro.jpg) no-repeat 80% 100px;
}
.start__pic{
    min-height: 600px;
    order: 2;
    margin: 20px -20px 0 -20px;
    width: auto;
    min-width: auto;
}
}








